@font-face{
  font-family:stencilFont;
  src:url(SirinStencil-Regular.ttf);
}
@font-face{
  font-family:raceFont;
  src:url(FasterOne-Regular.ttf);
}
@font-face{
  font-family:bangers;
  src:url(Bangers-Regular.ttf);
}
@font-face{
  font-family:knewave;
  src:url(knewave.ttf);
}
