.milestone
{
  position:relative;
  margin: 0 auto;
}
.milestone::before /* vert line */
{
  content:"";
  position: absolute;
  left:50%;
  background-color: black;
  height:100%;
  border-width: 2px;
  border-color:black;
  width:2px;
}
.milestone-item
{

  position: relative;
  color:black;
  width:50%;
  padding: 35px;
}

.item-left
{
  left:0;
}
.item-left > .milestone-summary
{
  text-align: center;
}
.item-right
{
  left:50%;
}
.item-right > .milestone-year
{
  left:-50px;
}
.item-right >  .milestone-summary
{
  text-align: center;
}
.milestone-year
{
  position: absolute;
  width: 100px;
    height:100px;
  right:-50px;
  text-align: center;
  padding-top:25px;
  font-size: 30px;
  font-weight: 900;
  background-color: rgb(243,190,3);
  color:black;
  border: 4px solid black;
  border-radius: 50%;
  z-index: 1;
}
.milestone-summary
{
  background-color: rgb(250,193,3);
  padding: 10px;
  position: relative;
  border-radius: 6px;
}
@media(max-width:600px)
{
  .milestone
  {
    left:50px;
  }
  .milestone-year, .item-right > .milestone-year
  {
    left:-50px;
  }
  .milestone::before /* vert line */
  {
    content:"";
    position: absolute;
    left:0;
    background-color: black;
    height:100%;
    border-width: 5px;
    border-color:black;
    width:5px;
    z-index: 1;
  }
  .milestone-item
  {
    position:relative;
    margin: 0 auto;
    margin-left:5px;
    width: 80%;
  }
  .item-right
  {
    left:0;
  }
}
